#search-bar {
    width: 50%;
    height: auto;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 20px;
}

#search-bar input {
    width: 100%;
    height: 30px;
    border-radius: 15px;
    font-family: "Outfit", sans-serif;
    padding-left: 20px;
    z-index: 0;
}

#search-bar img {
    width: 20px;
    height: 20px;
    position: relative;
    right: 0;
    left: 96%;
    bottom: 28px;
}

#sort-section {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.sort-area {
    display: flex;
    gap: 20px;
}

select {
    font-family: "Outfit", sans-serif;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
}

#confirm_sort {
    padding: 5px 20px 5px 20px;
    font-family: "Outfit", sans-serif;
    border-radius: 15px;
    font-size: 15px;
    color: white;
    background-color: rgb(38, 38, 243);
    border: none;
}

#confirm_sort:hover {
    background-color: rgb(78, 78, 243);
    font-weight: bold;
}

@media screen and (max-width: 380px) {
    #search-bar {
        width: 80%; 
        margin: auto;
        margin-top: 20px; 
    }

    #search-bar input {
        height: 35px; /* Make input field taller for better usability */
        font-size: 14px; /* Smaller font size */
    }

    #sort-section {
        flex-direction: column; /* Stack sort section vertically */
        gap: 15px; /* Increase gap between sections */
    }

    .sort-area {
        width: 80%;
        margin: auto;
    }

    select {
        font-size: 14px; /* Adjust font size */
        width: 80%; /* Ensure select takes full width */
        height: fit-content;
        margin: auto;
    }

    #confirm_sort {
        font-size: 14px; /* Adjust button font size */
        width: 80%; /* Ensure the button takes full width */
        margin: auto;
    }
}